@import url("https://fonts.googleapis.com/css?family=Bree+Serif|Cardo|Raleway&display=swap");
html {
  min-height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0%;
  padding-bottom: 10%;
  min-height: 100%;
  max-width: 100%;
  font-size: 1em;
  color: black;
  font-family: sans-serif;
  background-color: white;
}

body:after {
  content: "";
  position: fixed;
  min-height: 100%;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;
  background: url(../media/sidekix-media-zLT3VqWEgOQ-unsplash_fade_white_resize2.png) center center;
  background-size: cover;
}

header {
  margin: 0%;
  position: relative;
  width: 100%;
  padding: 10px;
  background-color: #5D8994;
}

.header_img {
  width: 300px;
  display: block;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.7);
  margin-bottom: 1%;
}

nav a {
  font-family: "Bree Serif";
  color: #FF8E59;
  border-style: none;
  text-decoration: none;
  display: inline-block;
  padding: 10px;
  margin: auto;
}

nav a:hover {
  text-decoration: underline;
}

.active {
  text-decoration: underline;
  font-weight: bold;
}

.textContainer, .button_container {
  float: left;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.textContainer {
  margin-left: 10%;
  width: 30%;
}

p {
  color: #6A6A6A;
  font-family: "Cardo";
}

h2 {
  font-family: "Raleway";
}

h2:last-of-type {
  border-bottom: 2px solid #FF8E59;
}

li {
  font-family: "Bree Serif";
  list-style: none;
  color: #FF8E59;
  padding: 2%;
  margin-left: 15%;
}

li:hover {
  text-decoration: underline;
}

.button_container {
  position: relative;
  display: block;
  width: 60%;
  margin: auto;
}

button {
  text-align: center;
  font-size: 1.7em;
  color: white;
  border: none;
  background-color: #FF8E59;
  border: solid 3px white;
  border-radius: 15px;
  -webkit-box-shadow: 5px 5px 18px #1d1d1d;
          box-shadow: 5px 5px 18px #1d1d1d;
  height: 100px;
  width: 300px;
  margin-left: 25%;
  margin-top: 30%;
}

button:hover {
  color: #FF8E59;
  background-color: white;
}

@media screen and (max-device-width: 900px) {
  body:after {
    position: fixed;
    min-height: 100%;
    top: 0;
    left: 0;
    right: 0;
    background: url(../media/sidekix-media-zLT3VqWEgOQ-unsplash-mobile-resized.jpg) center center;
    background-size: cover;
  }
  nav a {
    font-size: 2em;
  }
}

@media screen and (max-device-width: 812px), screen and (max-width: 812px) {
  nav a {
    background-color: none;
  }
  .paleBackground {
    background-color: rgba(255, 255, 255, 0.8);
    padding-bottom: 1%;
  }
  .textContainer, .button_container {
    float: none;
  }
  .textContainer {
    display: block;
    position: relative;
    width: 90%;
    margin: 5%;
  }
  ul {
    margin-left: 5%;
  }
  li {
    font-size: 1em;
  }
  .button_container {
    position: relative;
    display: block;
    margin-left: 25%;
    margin-right: 25%;
  }
  button {
    margin-top: 5%;
  }
}

@media screen and (max-width: 812px) {
  button {
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-device-width: 650px), sceen and (max-width: 650px) {
  .button_container {
    margin-left: 23%;
  }
}

@media screen and (max-device-width: 570px), screen and (max-width: 570px) {
  .button_container {
    margin-left: 19%;
  }
}
/*# sourceMappingURL=style.css.map */